
.block {
    margin: 1em 0;
    padding: 1em;
    background: #eee;
}

.element {
    padding: 1em;
    margin: 1em;
    background: #cccccc;
}
.green{
    color:#009845;
    font-weight: bold;

}
input{
    padding:5px;
}

#nav{
    width:300px;
    font-family: arial;
    color: #aaa;
    float:left;
}

.clear{
    clear:both;
}
.input{
    display:inline-block;
    float:left;
    height: 22px;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    margin: 10px 1% 10px 0;
    overflow:hidden;

}
.input label{
    font-size:11px;
    margin: 5px;
    display:block;
}
#wrap select{
    height: 2em;
    border-radius: 3px;
    border: 1px solid #c0c0c0;
    margin-top: 1em;
}

#wrap .input input{
    border:0;
    font-size:12px;
    outline:0;
    margin-left: 6px;
    background:transparent;

}

#nav{
    font-size:11px;
}

.error{
    background-color:#F2687B;
    border: 1px solid #941223;
    color:#941223;
}

.success{
    background-color:#A0F7A4;
    border: 1px solid #127817;
    border-radius: 3px;
    color:#127817;

}
/* SVG CONTENT */
.authorname{
    font-family:Trebuchet MS, Helvetica, Arial, sans-serif;

}

/* jquery overrides */

.ui-tabs-anchor{
    font-size:11px;
}
.ui-button-text{
    font-size:12px;
}

.loading {
    background: url("../img/ajax-loader.gif") no-repeat #ffffff center center;
}

#ajaxloader {
    background: url("../img/ajax-loader.gif") no-repeat #ffffff center center;
    position: absolute;
    width: 100%;
    height: 100%;
}

body .ui-autocomplete {
    font-size: .8em;
}

#svg-container {
    border: #ccc 1px solid;
    margin: 0px 5px;
}
.coauthor path{
    opacity:.2;
}
.coauthor .name{
    opacity:.2;
}