.error{
    background: red;
}

.block {
    margin: 1em 0;
    padding: 1em;
    background: #eee;
}

.element {
    padding: 1em;
    margin: 1em;
    background: #cccccc;
}


#ajaxloader {
    background: url("../img/ajax-loader.gif") no-repeat #ffffff center center;
    position: absolute;
    width: 100%;
    height:100%;
}